<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Authors</title>
  <link rel="stylesheet" href="webjars/bootstrap/5.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="webjars/bootstrap-icons/1.9.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div th:insert="fragments/header :: header" ></div>
<div class="container mt-5">
  <div class="card">
    <div class="card-body p-0 pt-3">
      <div th:switch="${authors}" class="container">
        <div class="row">
          <div class="col-md-9">
            <p>
              <a th:href="@{/add-author}" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Add Author
              </a>
            </p>
          </div>
          <div class="col-md-3">
            <form method="get" th:action="@{/authors}">
              <div class="input-group mb-3">
                <input type="hidden" name="size" th:value="${currentSize}">
                <input type="text" class="form-control" name="keyword" th:value="${keyword}" placeholder="Search By Name ..." aria-label="Recipient's username" aria-describedby="basic-addon2">
                <button style="padding: 0;border: none">
                   <span class="input-group-text" id="basic-addon2">
                      <i class="bi bi-search"></i>
                  </span>
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-12">
          <h2 th:case="null" >No record found</h2>
          <div th:case="*" >
            <table class="table table-striped table-responsive-md">
              <thead>
              <tr>
                <th scope="col">Author Name</th>
                <th scope="col">Description</th>
                <th scope="col">Details</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="author :${authors}">
                <td th:text="${author.name}" ></td>
                <td th:text="${author.description}" ></td>
                <td><a th:href="@{/authors/{id}(id=${author.id})}"
                       class="btn btn-sm btn-primary">
                  <i class="bi bi-eye"></i>
                </a></td>
                <td><a th:href="@{/update-author/{id}(id=${author.id})}"
                       class="btn btn-sm btn-primary">
                  <i class="bi bi-pencil-square"></i>
                </a></td>
                <td>
                  <form  th:action="@{/authors/{id}(id=${author.id},keyword=${keyword},page=${currentPage},size=${currentSize})}" th:method="delete">
                    <input type="hidden" name="_method" value="delete" />
                    <button type="submit" class="btn btn-sm btn-primary"
                            onclick="confirm('Are you sure !')">
                      <i class="bi bi-trash"></i>
                    </button>
                  </form>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10">
            <div class="row">
              <div class="col-md-4 mt-2">
                <div class="items">
                  <form method="get" style="display: inline" th:action="@{/authors(keyword=${keyword},page=${currentPage})}">
                    <label>Books per page</label>
                    <select name="size" onchange="this.form.submit()">
                      <option th:text="5" th:value="5"
                              th:attr="selected=${currentSize == 5 ? 'selected':null}"></option>
                      <option th:text="10" th:value="10"
                              th:attr="selected=${currentSize == 10 ? 'selected':null}"></option>
                      <option th:text="15" th:value="15"
                              th:attr="selected=${currentSize == 15 ? 'selected':null}"></option>
                      <option th:text="20" th:value="20"
                              th:attr="selected=${currentSize == 20 ? 'selected':null}"></option>
                    </select>
                  </form>
                  <span th:text="${((currentPage + 1) *  currentSize) - currentSize + 1 }"></span>
                  <span th:if="${((currentPage + 1) *  currentSize) + 1 > totalElements}"
                        th:text="${totalElements}"> of </span>
                  <span th:if="${((currentPage + 1) *  currentSize) + 1 <= totalElements}"
                        th:text="${((currentPage + 1) *  currentSize) + 1}"> of </span>
                  <span th:text="${totalElements}"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item">
                  <a th:class="${pagination[0] - 1 < 0 ? 'page-link disabled' : 'page-link'}"
                     th:href="@{authors(keyword=(${keyword}),page=${pagination[0] - 1})}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li class="page-item" th:each="p : ${pagination}">
                  <a   th:class="${ currentPage == p ? 'page-link active' : 'page-link'}"
                       th:classappend="${ currentSize * (p+1) >= (totalElements+currentSize) ? 'disabled' : ''}"
                       th:href="@{authors(keyword=(${keyword}),page=${p})}"
                       th:text="${p + 1}"></a>
                </li>
                <li class="page-item">
                  <a th:class="${pagination[2] * totalElements > totalElements ? 'page-link disabled' : 'page-link'}"
                     th:href="@{authors(keyword=(${keyword}),page=${pagination[2] + 1})}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>