<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>
    <link rel="stylesheet" href="webjars/bootstrap/5.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="webjars/bootstrap-icons/1.9.1/font/bootstrap-icons.css">
</head>
<body>
<div th:insert="fragments/header :: header" ></div>
<div class="container my-2">
    <div class="card">
        <div class="card-body">
            <form th:action="" method="post">
                <div class="row">
                    <div class="form-group col-md-8">
                        <label for="name" class="col-form-label">Author Name</label>
                        <input type="text" class="form-control" th:value="${author.name}" id="name" placeholder="Author Name">
                    </div>
                    <div class="form-group col-md-8">
                        <label for="description" class="col-form-label">Author Description</label>
                        <input type="text" class="form-control" th:value="${author.description}" id="description" placeholder="Author Description">
                    </div>
                    <div class="col-md-6">
                        <input type="submit" class="btn btn-primary" value="Submit">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>>