<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap-icons/1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.13/dist/semantic.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div th:insert="fragments/header :: header" ></div>
<div class="container mt-5">
    <div class="card  col-md-8 offset-md-2">
        <div class="card-body">
            <div class="card-title text-center fw-light">
                <a href="" class="link-secondary">Insert a new Book</a>
            </div>
            <div class="container my-5 mb-0">
                <div class="col-md-12">
                    <form class="row g-3" method="post" th:action="@{/books}">
                        <div class="col-md-6">
                            <label for="isbn" class="fw-light form-label">Book ISBN</label>
                            <input type="text" class="form-control fw-light" name="isbn" th:value="${book.isbn}" id="isbn">
                            <span th:errors="${book.isbn}"></span>
                        </div>
                        <div class="col-md-6">
                            <label  class=" fw-light form-label">Book Name</label>
                            <input type="text" class="form-control fw-light" name="name" th:value="${book.name}" />
                            <span th:errors="${book.name}"></span>
                        </div>
                        <div class="form-floating col-12">
                            <textarea class="form-control fw-light" name="description" id="description" th:text="${book.description}" ></textarea>
                            <label for="description" class="fw-light">Book Description</label>
                            <span th:errors="${book.description}"></span>
                        </div>
                        <div class="col-md-9">
                            <div class="ui form">
                                <div class="inline field">
                                    <select name="categories" multiple="" class="label ui selection fluid dropdown">
                                        <option value="">Select Categories</option>
                                        <option th:each="category : ${categories}"
                                                th:value="${category.id}"
                                                th:text="${category.name}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="ui button">
                                Clear Categories
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="ui form">
                                <div class="inline field">
                                    <select name="authors" multiple="" class="label ui selection fluid dropdown">
                                        <option value="">Select Authors</option>
                                        <option th:each="author : ${authors}"
                                                th:value="${author.id}"
                                                th:text="${author.name}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="ui button">
                                Clear Authors
                            </div>
                        </div>
                        <div class="d-grid gap-2 mt-5 col-6 mx-auto">
                            <button class="btn btn-outline-success" type="submit">
                                insert a new book
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer" ></div>
</body>
</html>